/build/
/target/
databases/SHOPPING_CART_ERD.mwb.bak
src/application.properties
/.settings/
.classpath
*.jar
src/application.properties
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
